.loading{
    display: flex;
    justify-content: center;
    margin: 90px;
    color: #553739;
}
.Icono{
    animation: spinner 2.5s linear infinite;
}

@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}