.moviecard {
  padding-top: 10px;
  width: 250px;
  list-style: none;
  font-size: 1.6rem;
  font-family: "Ubuntu";
  animation: all 0.3s ease;
  text-align: center;
  background-color: #442c2e;
  background-size: 400% 400%;
  animation: gradient 12s ease-in infinite;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
.moviecard:hover,
.moviecard:focus {
  opacity: 0.8;
  transform: scale(1.1);
}
.movieImage {
  border-radius: 10px;
}

@media (max-width: 590px) {
  .movieImage {
    width: 90%;
    height: auto;
  }
}
body {
  height: 100vh;
  background: linear-gradient(45deg, #e73a06, #000, #3667cf);
  background-size: 400%400%;
  animation: gradient 12s ease-in infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
